<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIiEihRLUdtvvtlJ6gu66sRvQIAYTwCs4</string>
	<key>GCM_SENDER_ID</key>
	<string>914433573308</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.magicCoffee</string>
	<key>PROJECT_ID</key>
	<string>elrob3-cafe</string>
	<key>STORAGE_BUCKET</key>
	<string>elrob3-cafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:914433573308:ios:261a618a35b94db0842bb9</string>
	<key>DATABASE_URL</key>
	<string>https://elrob3-cafe-default-rtdb.firebaseio.com</string>
</dict>
</plist>